<section class="">
  <div class="d-flex space-between">
    <!-- <h5>Upcoming  Matches</h5> -->
    <!-- <span (click)="router.navigate(['/matches'])" class="text-deem">All markets <i class="ti ti-caret-right"></i></span> -->
  </div>
    <div class="row page-wrapper">

      <div
        *ngFor="let i of matchService.upcomingMatches; let in = index"
        (click)="router.navigate(['/betinfo/'+i.fixtureID]);"
        >

          <div *ngIf="i.fixture.fixture.timestamp | countdown:0:'upcoming' | async as time"
            class="match-container">
            <div class="match-id">ID: {{i.fixtureID}} <i class="fa fa-copy"></i></div>

            <div class="match-card">

              <!-- TOP INFO BAR -->
              <!-- <div class="top-bar">
                <div class="id">ID: 1132613</div>
                <div class="timer">00:52:17</div>
              </div> -->

              <div class="card-header"
                   style="background-image:url('assets/img/ronaldo.webp')">
                <div class="overlay">
                  <div class="timer-ts">{{time}}</div>
                  <span class="date">02/20/2024 16:00:00</span>

                </div>

              <!-- MAIN BANNER -->
              <div class="banner">

                <div class="banner-info">
                  <!-- <small>IMAGE SPOKESPERSON</small> -->
                  <h3>CR7</h3>
                  <h2>RONALDO</h2>
                </div>
              </div>

            </div>


              <!-- LEAGUE -->
              <div class="league">{{i.fixture.league.name|truncateCenter:11 }}</div>

              <!-- TEAMS -->
              <div class="teams">
                <div class="team">
                  <img [src]="i.fixture.teams.home.logo" />
                  <span>{{ i.fixture.teams.home.name }}</span>
                </div>

                <!-- <div class="vs">VS</div> -->
                <div class="vs-badge">VS</div>




                <div class="team">
                  <img [src]="i.fixture.teams.away.logo" />
                  <span>{{ i.fixture.teams.away.name }}</span>
                </div>
              </div>

            </div>
          </div>


      </div>

      <!-- <div class="x-flex">
        <span></span>
        <span (click)="router.navigate(['/matches'])" class="text-deem">All Matches <i class="ti ti-caret-right"></i></span>

      </div> -->

    </div>
  </section>
