/* ADDRESS */
.address-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #2a1f12;
  padding: 10px;
  border-radius: 10px;
}

.address-box button {
  background: #ff9800;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
}

/* AMOUNT */
.amount-box {
  display: flex;
  justify-content: space-between;
  background: #2a1f12;
  padding: 12px;
  border-radius: 12px;
}

.amount-box input {
  background: transparent;
  border: none;
  color: white;
  font-size: 18px;
  outline: none;
}

.currency {
  color: #ff9800;
}

/* INFO */
.amount-info {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #aaa;
}

.amount-info strong {
  color: #ffeb3b;
}

/* SELECT */
.account-select select {
  width: 100%;
  margin-top: 6px;
  background: #2a1f12;
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
}
