<app-header2></app-header2>
<app-spinner></app-spinner>

<div class="page page-wrapper ">

<section class="space-top pb-8 pb-md-10 ">


  <div class="bet-history__tab container-fluid pb-8 pb-md-10">
    <div class="tabs mb-10">
      <ul class="tabs-nav">
        <li
          (click)="activeTab = 'openbet'"
          [class.tab-active]="activeTab === 'openbet'"
        >
          <a>Open</a>
        </li>
        <li
          (click)="settledClick()"
          [class.tab-active]="activeTab === 'settled'"
        >
          <a>Settled</a>
        </li>
      </ul>

      <div *ngIf="historyServiceLoaded" class="tabs-stage">
        <!-- 🟢 OPEN BETS -->
        <div *ngIf="activeTab === 'openbet'" class="tab-1 openbet">
          <div *ngIf="historyServiceLoaded.openBetDisplay.length; else noOpen">
            <div
              *ngFor="let bet of historyServiceLoaded.openBetDisplay"
              class="bet-card"
            >
              <div
                class="bet-summary d-flex justify-content-between align-items-center clickable"
                (click)="toggleExpand(bet.id)"
              >
                <div>
                  <h5>
                    {{
                      bet.fixture[0].teams.home.name
                    }}
                    vs
                    {{ bet.fixture[0].teams.away.name }}
                  </h5>
                  <small>
                    Odds: {{ bet.market_odds|number:"1.1-2" }} |
                    Return:<span class="return">{{setProfit(bet)|currencyConverter:true}}</span> |
                    <span class="text-small">{{ bet.fixture[0].fixture.date | date:'short' }}</span>
                  </small>
                  <br>
                  <small *ngIf="bet.fixture[0].fixture.timestamp |countdown|async as time" (click)="historyServiceLoaded.CancelTicket(bet)"  class="text-danger"> <i class="ti ti-trash fs-five"></i> Delete</small>
                </div>
                <span class="arrow">{{
                  expandedTicketId === bet.id ? "▲" : "▼"
                }}</span>
              </div>

              <div *ngIf="expandedTicketId === bet.id" class="bet-details mt-2">
                <p>Ticket ID: {{ bet.ticket_id }}</p>
                <p>League: {{ bet.fixture[0].league.name }}</p>
                <p>Market: {{ bet.market_value }}</p>
                <p class="stake">Stake: {{ bet.stake_amount|currencyConverter:true }}</p>
                <!-- <p>Start: <span class="text-deem">{{ bet.fixture[0].fixture.date | date:'short' }}</span></p> -->

              </div>
            </div>
          </div>

          <ng-template #noOpen>
            <div class="no-data text-center">
              <img
                [src]="historyServiceLoaded?.emptyDataUrl"
                width="60"
                alt="no data"
              />
              <p>No open bets found</p>
            </div>
          </ng-template>
        </div>

        <!-- 🟠 SETTLED BETS -->
        <div *ngIf="activeTab === 'settled'" class="tab-2 settled">

          <!-- 🔹 Date Filter -->
          <form [formGroup]="filterForm" class="filter-bar">
            <div class="date-picker-container">
             <mat-form-field appearance="outline" class="date-range-field">
               <mat-label>Select Date Range</mat-label>
               <mat-date-range-input [rangePicker]="picker" formGroupName="range">
                 <input matStartDate formControlName="start" placeholder="Start date">
                 <input matEndDate formControlName="stop" placeholder="End date">
               </mat-date-range-input>
               <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
               <mat-date-range-picker #picker></mat-date-range-picker>
             </mat-form-field>

             <button mat-raised- class="btn btn-md btn-outline-secondary filter-btn" (click)="filterByDate()">
               <i class="ti ti-filter"></i>  Filter
             </button>
            </div>
           </form>

          <div class="tabs-header d-flex align-items-center gap-2">
            <div
              class="top_matches__innercount-item py-1 px-8 rounded-3 n11-bg"
              [class.clickable-active]="subTab === 'won'"
              (click)="selectSubTab('won')"
            >
              <span>Won</span>
            </div>
            <div
              class="top_matches__innercount-item py-1 px-8 rounded-3 n11-bg"
              [class.clickable-active]="subTab === 'loss'"
              (click)="selectSubTab('loss')"
            >
              <span>Loss</span>
            </div>
            <div
              class="top_matches__innercount-item py-1 px-8 rounded-3 n11-bg"
              [class.clickable-active]="subTab === 'cancel'"
              (click)="selectSubTab('cancel')"
            >
              <span>cancel</span>
            </div>
          </div>

          <div class="tabs-content mt-7">
            <ng-container
              *ngIf="subDisplay.length; else noSettled"
            >
              <div
                *ngFor="let bet of subDisplay"
                class="bet-card"
              >
                <div
                  class="bet-summary d-flex justify-content-between align-items-center clickable"
                  (click)="toggleExpand(bet.id)"
                >
                  <div>
                    <h5 class="status-{{bet.status}}">
                      {{ bet.fixture[0].teams.home.name }}
                      vs
                      {{ bet.fixture[0].teams.away.name }}
                    </h5>
                    <small
                      >Odds: {{ bet.market_odds|number:"1.0-2" }} | Stake:
                      {{ bet.stake_amount|currencyConverter:true  }}</small
                    >
                  </div>
                  <span class="arrow">{{
                    expandedTicketId === bet.id ? "▲" : "▼"
                  }}</span>
                </div>

                <div *ngIf="expandedTicketId === bet.id" class="bet-details mt-2">
                  <p>Ticket ID: {{ bet.ticket_id }}</p>
                  <p>League: {{ bet.fixture[0].league.name }}</p>
                  <p>Market: {{ bet.market_value }}</p>

                  <p class="">
                    Score:
                    <span class="text-main">
                      {{ bet.fixture[0].score.fulltime.home }} -
                      {{ bet.fixture[0].score.fulltime.away }}
                    </span>

                  </p>
                  <p *ngIf="bet.status==='won'" class="">Profit: <span class="status-{{bet.status}}">{{ setProfit(bet,false)|currencyConverter:true }}</span></p>
                  <p>Start: <span class="text-deem">{{ bet.fixture[0].fixture.date | date:'short' }}</span></p>

                </div>
              </div>
            </ng-container>

            <ng-template #noSettled>
              <div class="no-data text-center">
                <img
                  [src]="historyServiceLoaded?.emptyDataUrl"
                  width="60"
                  alt="no data"
                />
                <p>No {{ subTab }} bets found</p>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<div class="page page-wrapper ">

<app-menu-bottom></app-menu-bottom>
