
<div *ngIf="location.pathname==='/matches'">
  <app-header2></app-header2>
  <app-spinner></app-spinner>
  <app-menu-bottom></app-menu-bottom>

</div>

  <div class="floating-toggle" (click)="toggleMode()">
    <div class="toggle-pill" [class.risk]="mode === 'risk'">

      <div class="option safe">
        SAFE
      </div>

      <div class="option risk">
        RISK
      </div>

      <div class="slider"></div>

    </div>
  </div>

    <div class="screen" [class.container]="location.pathname==='/matches'">

      <!-- SEARCH BAR -->
      <div class="search-container">
        <div class="search">
          <span class="id">ID</span>
          <input placeholder="Match, Team or League..." />
          <div class="search-btn">🔍</div>
        </div>
      </div>

      <!-- SECTION HEADER -->
      <div class="section-header">
        <div class="title">
          {{signal[mode]}} <span> {{mode|titlecase}} bet</span>
        </div>
        <!-- <div class="pill">Safe bet</div> -->
      </div>

      <!-- EMpty data -->
      <div *ngIf="!matchService[index_by].length;else hasMatches" class="empty-state">
        <div class="no-data text-center">
          <img
            [src]="matchService.emptyDataUrl"
            width="60"
            alt="no data"
          />
          <p>No {{mode}} game found.</p>

        </div>
      </div>

      <!-- MATCH CARD -->
      <ng-template #hasMatches>

        <div class="page-wrapper" *ngIf="matchService[index_by].slice(0,slice) as matches">

          <div *ngFor="let i of matches; let in = index">
            <div *ngIf="i.fixture.fixture.timestamp
                 | countdown:0:'seconds'
                 | async as remaining" class="card">


              <!-- Top Row -->
              <div class="card-top">
                <div (click)="router.navigate(['/game-details/'+i.fixtureID])" class="league">{{i.fixture.league.name|truncateCenter:11}}</div>
                <div (click)="router.navigate(['/game-details/'+i.fixtureID])"  class="match-id">ID: {{i.fixtureID}} <i (click)="matchService.quickNav.copy(i.fixtureID, 'Game id copied')" class="ti ti-copy copy"></i></div>
              </div>

              <!-- Middle -->
              <div (click)="router.navigate(['/game-details/'+i.fixtureID])" class="card-body">

                <!-- Teams -->
                <div class="teams">

                  <!-- Team 1 -->
                  <div class="team-block">
                    <div class="logo">
                      <img [src]="i.fixture.teams.home.logo" alt="Arsenal">
                    </div>
                    <div class="name">{{i.fixture.teams.home.name|truncateCenter:9}}</div>
                  </div>

                  <!-- VS -->
                  <div class="vs">VS</div>

                  <!-- Team 2 -->
                  <div class="team-block">
                    <div class="logo">
                      <img [src]="i.fixture.teams.away.logo" alt="Sporting CP">
                    </div>
                    <div class="name">{{i.fixture.teams.away.name|truncateCenter:9}}</div>
                  </div>

                </div>

                <!-- Timer -->
                <div class="timer">

                  <svg width="80" height="80">
                    <circle cx="40" cy="40" r="32"></circle>

                    <circle cx="40" cy="40" r="32"
                      [attr.stroke-dasharray]="circumference"
                      [attr.stroke-dashoffset]="getDashOffset(remaining)">
                    </circle>
                  </svg>

                  <!-- Time -->
                  <div class="time">
                    {{ formatTime(remaining) }}
                  </div>

                </div>

              </div>

              <!-- Bottom -->
              <div class="card-bottom">
                <div class="date">📅 {{ i.fixture.fixture.timestamp | timeFormat:'fullDate' }}</div>
              </div>

            </div>
          </div>

        </div>
      </ng-template>


    </div>
