<!-- <app-header2></app-header2>
<app-spinner></app-spinner> -->
<div *ngIf="matchService.bonusMatches.length" class="">
  <div class="bonus-matches" *ngIf="matchService.bonusMatches as matches">
    <h4>Bonus Matches</h4>

    <div class="page-wrapper-2 mb-12" >
      <div class="row">

        <div
          *ngFor="let i of matches; let in = index"
          >

          <div *ngIf="i.fixture.fixture.timestamp | countdown:0:'upcoming' | async as time"
            class="match-container bonus">
            <div (click)="matchService.quickNav.copy(i.fixtureID)" class="match-id">ID: {{i.fixtureID}} <i class="fa fa-copy"></i></div>
            <div (click)="router.navigate(['/betinfo/'+i.fixtureID]);" class="match-card">

              <!-- TOP INFO BAR -->
              <!-- <div class="top-bar">
                <div class="id">ID: 1132613</div>
                <div class="timer">00:52:17</div>
              </div> -->

              <!-- style="background-image:url('assets/img/ronaldo.webp')" -->
              <!--  -->
              <div class="card-header"

                >
                <div class="overlay">
                  <div class="timer-ts">{{time}}</div>
                  <span style="color:#b8e2ff;font-weight: bold;" class="date">  {{ i.fixture.fixture.timestamp | timeFormat:'fullDate' }}</span>

                </div>

              <!-- MAIN BANNER -->
              <div class="banner">

                <div class="banner-info">
                  <h3>BONUS</h3>
                  <h2>GAME</h2>
                </div>
              </div>

            </div>


              <!-- LEAGUE -->
              <div class="league">{{i.fixture.league.name|truncateCenter:11 }}</div>

              <!-- TEAMS -->
              <div class="teams">
                <div class="team">
                  <img [src]="i.fixture.teams.home.logo" />
                  <span>{{ i.fixture.teams.home.name }}</span>
                </div>

                <!-- <div class="vs">VS</div> -->
                <div class="vs-badge">VS</div>




                <div class="team">
                  <img [src]="i.fixture.teams.away.logo" />
                  <span>{{ i.fixture.teams.away.name }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div *ngIf="matchService.CPG.length" class="">
  <div class="bonus-matches" *ngIf="matchService.CPG as matches">
    <h4>Company Matches</h4>

    <div class="page-wrapper-2 mb-12" >
      <div class="row">

        <div
          *ngFor="let i of matches; let in = index"

          >

          <div *ngIf="i.fixture.fixture.timestamp | countdown:0:'upcoming' | async as time"
            class="match-container company">
            <div (click)="matchService.quickNav.copy(i.fixtureID)" class="match-id">ID: {{i.fixtureID}} <i class="fa fa-copy"></i></div>
            <div (click)="router.navigate(['/betinfo/'+i.fixtureID]);" class="match-card">

              <!-- TOP INFO BAR -->
              <!-- <div class="top-bar">
                <div class="id">ID: 1132613</div>
                <div class="timer">00:52:17</div>
              </div> -->

              <!-- style="background-image:url('assets/img/ronaldo.webp')" -->
              <!--  -->
              <div class="card-header"

                >
                <div class="overlay">
                  <div class="timer-ts">{{time}}</div>
                  <span style="color:#b8e2ff;font-weight: bold;" class="date">  {{ i.fixture.fixture.timestamp | timeFormat:'fullDate' }}</span>

                </div>

              <!-- MAIN BANNER -->
              <div class="banner">

                <div class="banner-info">
                  <h3>COMPANY</h3>
                  <h2>GAME</h2>
                </div>
              </div>

            </div>


              <!-- LEAGUE -->
              <div class="league">{{i.fixture.league.name|truncateCenter:11 }}</div>

              <!-- TEAMS -->
              <div class="teams">
                <div class="team">
                  <img [src]="i.fixture.teams.home.logo" />
                  <span>{{ i.fixture.teams.home.name }}</span>
                </div>

                <!-- <div class="vs">VS</div> -->
                <div class="vs-badge">VS</div>




                <div class="team">
                  <img [src]="i.fixture.teams.away.logo" />
                  <span>{{ i.fixture.teams.away.name }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<div class=" ">

  <h4>Available Matches</h4>

  <div class="search-container mb-12 mt-4 br-12">
    <input
      type="text"
      [(ngModel)]="matchService.searchTerm"
      (input)="matchService.search()"
      placeholder="Search by ID, Team, League, or Country"
    />
    <!-- <i class="ti ti-search"></i> -->

  </div>





  <div *ngIf="!matchService.notStartedMatches.length;else hasMatches" class="empty-state">
    <div class="no-data text-center">
      <img
        [src]="matchService.emptyDataUrl"
        width="60"
        alt="no data"
      />
      <p>No data found.</p>

    </div>
  </div>

  <ng-template #hasMatches>
    <div class="page-wrapper" *ngIf="matchService.notStartedMatches as matches">
      <div class="row">

        <div
          *ngFor="let i of matches; let in = index"
          >

          <div *ngIf="i.fixture.fixture.timestamp | countdown:0:'upcoming' | async as time"
            class="match-container">
            <div (click)="matchService.quickNav.copy(i.fixtureID)" class="match-id">ID: {{i.fixtureID}} <i class="fa fa-copy"></i></div>
            <div (click)="router.navigate(['/betinfo/'+i.fixtureID]);" class="match-card">

              <!-- TOP INFO BAR -->
              <!-- <div class="top-bar">
                <div class="id">ID: 1132613</div>
                <div class="timer">00:52:17</div>
              </div> -->

              <div class="card-header"
                   style="background-image:url('assets/img/ronaldo.webp')">
                <div class="overlay">
                  <div class="timer-ts">{{time}}</div>
                  <span style="color:#b8e2ff;font-weight: bold;" class="date">  {{ i.fixture.fixture.timestamp | timeFormat:'fullDate' }}</span>

                </div>

              <!-- MAIN BANNER -->
              <div class="banner">

                <div class="banner-info">
                  <!-- <small>IMAGE SPOKESPERSON</small> -->
                  <h3>CR7</h3>
                  <h2>RONALDO</h2>
                </div>
              </div>

            </div>


              <!-- LEAGUE -->
              <div class="league">{{i.fixture.league.name|truncateCenter:11 }}</div>

              <!-- TEAMS -->
              <div class="teams">
                <div class="team">
                  <img [src]="i.fixture.teams.home.logo" />
                  <span>{{ i.fixture.teams.home.name }}</span>
                </div>

                <!-- <div class="vs">VS</div> -->
                <div class="vs-badge">VS</div>




                <div class="team">
                  <img [src]="i.fixture.teams.away.logo" />
                  <span>{{ i.fixture.teams.away.name }}</span>
                </div>
              </div>

            </div>
          </div>


        </div>


      </div>

      <div class="mt-9">
      <!-- <div class="d-flex space-between mt-6"> -->
        <!-- <h5>Upcoming  Matches</h5> -->
        <!-- <span (click)="matchService.loadMore()" class="text-deem">TEST <i class="ti ti-caret-down"></i></span> -->
        <span *ngIf="!matchService.noMoreData" (click)="matchService.loadMore()" class="text-deem">Load More <i class="ti ti-caret-down"></i></span>
        <span *ngIf="matchService.noMoreData"  class="text-deem">No Data <i class="ti ti-database-off"></i></span>
      </div>


    </div>
    </ng-template>
</div>

<!-- <app-menu-bottom></app-menu-bottom> -->
