<ng-container *ngIf="walletService.activeChannelObs$ | async as mode">

  <div *ngIf="!walletService.storeData.store['savedMethod']" class="toggle-wrap">
    <div class="toggle">

      <div
        class="toggle-indicator"
        [class.right]="mode === 'local'">
      </div>

      <div
        *ngIf="walletService.showCryptoTab"
        class="toggle-btn"
        [class.active]="mode === 'crypto'"
        (click)="walletService.setActiveChannel('crypto')">
        Crypto
      </div>

      <div
        *ngIf="walletService.showLocalTab"
        class="toggle-btn"
        [class.active]="mode === 'local'"
        (click)="walletService.setActiveChannel('local')">
        Local
      </div>

    </div>
  </div>

</ng-container>
