<div class="ios-toast" *ngIf="currentNotification">

  <div class="toast-head">

    <div class="left">
      <div class="icon">
        <i class="fa fa-message"></i>
      </div>

      <div class="meta">
        <div class="title">{{ currentNotification.header }}</div>
        <div class="time">{{ currentNotification.timestamp | momentAgo }}</div>
      </div>
    </div>

    <div class="close" (click)="closeNotif()">×</div>

  </div>

  <div class="toast-body" [innerHTML]="currentNotification.message"></div>

  <div class="toast-footer">
    <span (click)="readMore(currentNotification)">Read More →</span>
  </div>

</div>
