.ios-toast {
  position: fixed;
  top: 14px;
  left: 50%;
  transform: translateX(-50%);

  width: calc(100% - 20px);
  max-width: 420px;

  padding: 12px;
  border-radius: 16px;

  background: rgba(20, 14, 6, 0.95);
  backdrop-filter: blur(14px);

  border: 1px solid rgba(255,235,59,0.1);

  color: #fff;
  z-index: 9999;

  animation: slideDown 0.35s ease;
}

/* HEADER */
.toast-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LEFT */
.left {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* ICON */
.icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(135deg, #ff9800, #ffeb3b);
  color: #111;
  font-size: 14px;
}

/* TEXT */
.meta .title {
  font-size: 14px;
  font-weight: 600;
}

.meta .time {
  font-size: 11px;
  color: #aaa;
}

/* CLOSE */
.close {
  font-size: 18px;
  cursor: pointer;
  color: #aaa;
}

/* BODY */
.toast-body {
  margin-top: 8px;
  font-size: 13px;
  color: #ddd;
  line-height: 1.4;
}

/* FOOTER */
.toast-footer {
  margin-top: 8px;
  font-size: 13px;
  color: #ffeb3b;
  cursor: pointer;
}

/* ANIMATION */
@keyframes slideDown {
  from {
    transform: translate(-50%, -20px);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}
