<app-header2></app-header2>
<app-betslip *ngIf="matchService.isSlipVisible"></app-betslip>
<app-spinner></app-spinner>


<div class="page page-wrapper">


    <section class="app-container">

      <div *ngIf='storeData.store["soccer"]; else loadSoccer'>
        <div *ngIf="fixture; else expiredFixture">
            <div *ngIf="fixture.fixture.fixture.timestamp | countdown | async as time; else expiredFixture">

                  <div class="bet-header mt-5">

                    <div class="bet-start">
                      <span>
                        <span style="color:#997;">Today {{fixture.fixture.fixture.timestamp | timeFormat}}</span> |  {{fixture.fixture.league.name}} - {{fixture.fixture.league.country}}
                      </span>
                    </div>

                    <div class="bet-team row">
                        <div class="team-1">
                          <span>{{fixture.fixture.teams.home.name}}</span>
                        </div>
                        <div class="team-2">
                          <span>{{fixture.fixture.teams.away.name}}</span>
                        </div>

                    </div>

                  </div>

                  <div class="col-xl-12 col-xxl-12 gap-4">
                      <div class="top_matches__clubdata">
                      <!-- Optional header -->
                      </div>

                      <div class="m-table">
                      <div class="anti-label d-flex">
                        <span>Home</span>
                        <span>Draw</span>
                        <span>Away</span>
                      </div>

                      <div *ngFor="let row of predictionRows" class="m-table-row">
                        <div
                          *ngFor="let odd of row"
                          (click)="matchService.showBetSlip(fixture,{odds:odd.odds,value:odd.value}); activeRow=odd.value; activeID=fixture.fixtureID"
                          [class.active]="activeRow===odd.value && activeID===fixture.fixtureID"
                          [class.content-disabled]="!odd.value || odd.value==='-' || excludeScores.includes(odd.value)"
                          class="m-table-cell"
                        >
                          <div *ngIf="odd.value && odd.value !== '-' && !excludeScores.includes(odd.value)">
                            <span class="score">{{ odd.value }}</span>
                            <span class="odds">{{ odd.odds | number:'1.2-2' }}</span>
                          </div>
                        </div>
                      </div>
                      </div>
                  </div>
            </div>
          </div>
      </div>

      <ng-template #loadSoccer>
        <p>loading</p>
      </ng-template>


    </section>


    <section class="app-container">
      <ng-template #expiredFixture>
        <div class="no-data text-center empty-state">
          <img
            [src]="matchService.emptyDataUrl"
            width="60"
            alt="no data"
          />
          <p>Invalid or expired fixture</p>
        </div>
      </ng-template>

    </section>


</div>
