<app-header2></app-header2>
<app-spinner></app-spinner>


<div class="page page-wrapper">


    <section class="app-container">

      <div *ngIf='storeData.store["soccer"]; else loadSoccer'>
        <div *ngIf="fixture; else expiredFixture">
            <div *ngIf="fixture.fixture.fixture.timestamp | countdown :0:'data'| async as time; else expiredFixture">

              <div class="match-card">

                  <!-- TOP -->
                  <div class="top">
                  <div class="league">● {{fixture.fixture.league.name}}</div>
                  <div (click)="matchService.quickNav.copy(fixture.fixtureID)" class="match-id">ID: {{fixture.fixtureID}} ⧉</div>
                  </div>

                  <!-- TEAMS -->
                  <div class="teams">

                  <div class="team">
                    <div class="logo">
                      <img [src]="fixture.fixture.teams.home.logo">
                    </div>
                    <div class="name">{{fixture.fixture.teams.home.name}}</div>
                  </div>

                  <div class="center">
                    <div class="time">{{ fixture.fixture.fixture.timestamp * 1000 | date:'hh:mm' }}</div>
                    <!-- <div class="vs">VS</div> -->
                    <div class="date">{{ fixture.fixture.fixture.timestamp * 1000 | date:'dd/MM' }}</div>
                  </div>

                  <div class="team">
                    <div class="logo">
                      <img [src]="fixture.fixture.teams.away.logo">
                    </div>
                    <div class="name">{{fixture.fixture.teams.away.name}}</div>
                  </div>

                  </div>

                  <!-- COUNTDOWN -->
                  <div class="countdown">

                  <!-- <span>Starts in:</span> -->

                  <div class="timer-box">
                    <div class="t">{{ (time + '') | slice:2:4 }}</div>
                    <div class="sep">:</div>
                    <div class="t">{{ (time + '') | slice:4:6 }}</div>
                    <div class="sep">:</div>
                    <div class="t">{{ (time + '') | slice:6:9 }}</div>

                    <!-- {{time}} -->
                  </div>

                  </div>

              </div>

              <app-betslip *ngIf="matchService.isSlipVisible"></app-betslip>


              <!-- market options -->
              <div *ngIf="!matchService.isSlipVisible" class="market">

                <!-- Header -->
                <div class="market-header">
                  <h3>Reverse scores</h3>
                </div>

                <!-- Grid -->
                <div class="grid">

                  <ng-container *ngFor="let row of predictionRows">

                    <div
                      *ngFor="let odd of row"
                      class="box"

                      (click)="matchService.showBetSlip(fixture,{odds:odd.odds,value:odd.value}); activeRow=odd.value; activeID=fixture.fixtureID"

                      [class.active]="activeRow===odd.value && activeID===fixture.fixtureID"

                      [class.disabled]="!odd.value || odd.value==='-' || excludeScores.includes(odd.value)"
                    >

                      <ng-container *ngIf="odd.value && odd.value !== '-' && !excludeScores.includes(odd.value)">

                        <div class="score">{{ odd.value }}</div>
                        <div class="value">{{ odd.odds | number:'1.2-2' }}</div>

                      </ng-container>

                    </div>

                  </ng-container>

                </div>

              </div>


            </div>
          </div>
      </div>

      <ng-template #loadSoccer>
        <p>loading</p>
      </ng-template>


    </section>


    <section class="app-container">
      <ng-template #expiredFixture>
        <div class="no-data text-center empty-state">
          <img
            [src]="matchService.emptyDataUrl"
            width="60"
            alt="no data"
          />
          <p>Invalid or expired fixture</p>
        </div>
      </ng-template>

    </section>


</div>
